@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100vh;
  text-transform: capitalize;
}
body {
  background-color: #15202b;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.news-feed {
  display: flex;
}
header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  position: fixed;
  left: 15%;
  .logo {
    color: white;
    font-size: 2rem;
    padding: 1rem;
  }
  li {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      color: #1da1f2;
    }
    span {
      margin-left: 10px;
    }
  }
  button {
    width: 250px;
    height: 50px;
    background-color: #1da1f2;
    border: none;
    border-radius: 20px;
    margin-top: 1rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
.post {
  position: relative;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  width: 40vw;
  border: 1px solid #2f3336;
  padding: 0 16px;
  cursor: pointer;
}
.somepost {
  display: flex;
}

.profile {
  margin-top: 1rem;
  font-size: 32px;
  width: 85px;
  height: 80px;
  background-color: #1da1f2;
  border-radius: 50%;
  h1 {
    margin: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
}
.post-wrapper {
  border-radius: 10px;
  width: 100%;
  display: flex;
  padding: 1.2rem;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  min-height: 20px;
  span {
    margin-left: 20px;
    opacity: 0.7;
  }
  button {
    background: none;
    border: none;
    padding: 5px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .dots {
    width: 7rem;
    height: 5rem;
    background-color: #15202b;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 12px 2px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 12px 2px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
  }
}
.post-content {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  .post-text {
    padding-top: 10px;
    width: 100%;
    text-align: start;
  }
}
.img {
  width: 100%;
  .post-img {
    margin-top: 1rem;
    border-radius: 15px;
    max-height: 100vh;
  }
}
.post-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  padding: 20px;
  .options-wrapper {
    display: flex;
    span {
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
.like {
  display: flex;
}
.comment-section {
  border-top: 1px solid #2f3336;
}
footer {
  position: fixed;
  right: 15%;
}
